.wrapper {
    position: relative;
    scroll-snap-align: center;
}

.video {
    width: 100%;
    height: 100%;
}

.playBtn {
    all: unset;
    background: url(../../assets/player.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 62px;
    height: 62px;
    inset: 0;
    margin: auto;
}

.actionsWrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 10px 10px 0;
}

.descriptionWrapper {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    max-width: calc(100% - 45px);
}

.hidden {
    display: none;
}