.App {
  background: #000;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
}

main {
  box-sizing: border-box;
  aspect-ratio: 9/16;
  height: auto;
  width: 100vw;
  max-width: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
